
.post-img{
height: 300px;
overflow: hidden;
margin-top: 14px;
}


.post-img img{
    width: 100%;
}




.blog-post-content h1{
    text-align: center;
}

.row{
    display: flex;
}

.more-post{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.blog-post-meta{
    display: flex;
    /* background-color: rgb(247, 154, 173); */
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
}

.author-info div{
    padding: 5px 0;
    font-weight: bold;
}

.social-media{
    padding-left: 50px;
    align-self: center;
    cursor: pointer;
}